<template>
  <div
    class="overflow-y-auto overflow-x-hidden fixed w-full h-full top-0 left-0 flex items-center justify-center bg-gray-600 bg-opacity-50"
  >
    <div class="relative p-4 w-full max-w-2xl h-full md:h-auto">
      <div class="relative bg-white rounded-lg shadow dark:bg-gray-800">
        <!-- Modal header -->
        <div
          class="flex justify-between items-start p-4 rounded-t border-b dark:border-gray-600"
        >
          <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
            Filter by {{ filterTypeSelected.text }}
          </h3>
          <button
            type="button"
            @click="$emit('closeFilterModal')"
            class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white"
          >
            <svg
              class="w-5 h-5"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                clip-rule="evenodd"
              ></path>
            </svg>
          </button>
        </div>
        <!-- Modal body -->
        <div class="p-4">
          <input
            type="search"
            id="search"
            v-model="search"
            class="block p-2 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            :placeholder="`Search ${filterTypeSelected.text}`"
            required
          />
        </div>
        <div class="p-6 space-y-3 overflow-y-auto h-96">
          <div
            class="flex items-center ml-1 my-2"
            v-for="filter in filters"
            :key="filter.id"
            v-show="filter.show"
          >
            <input
              :id="`checkbox-${filter.id}`"
              type="checkbox"
              v-model="filter.active"
              @change="updateFilters"
              class="w-4 h-4 text-blue-600 bg-gray-100 rounded border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600 cursor-pointer"
            />
            <label
              :for="`checkbox-${filter.id}`"
              class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300 cursor-pointer"
              >{{ filter.text }}
            </label>
          </div>
        </div>
        <!-- Modal footer -->
        <div
          class="flex place-content-end p-6 space-x-2 rounded-b border-t border-gray-200 dark:border-gray-600"
        >
          <button
            @click="saveFilter"
            type="button"
            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
          >
            Save
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue, Watch } from "nuxt-property-decorator";

@Component({})
export default class FilterModal extends Vue {
  @Prop()
  filterTypeSelected!: any;

  @Prop()
  filters!: any[];

  search: string = "";

  filtersSaved: any[] = [];

  updateFilters(): void {
    this.filtersSaved = this.filters.filter(
      (item: any) => item.active === true
    );
  }

  saveFilter(): void {
    this.$emit("saveFilter", {
      filterTypeSelected: this.filterTypeSelected.object,
      filterSaved: this.filtersSaved,
    });
  }

  @Watch("search")
  searchFilters(): void {
    this.$emit("search", {
      filter: this.filterTypeSelected.object,
      text: this.search,
      filtersSaved: this.filtersSaved,
    });
  }
}
</script>
