<template>
  <div class="relative overflow-x-auto rounded-lg">
    <table class="w-full text-sm text-left text-gray-500">
      <thead class="text-xs text-gray-700 uppercase">
        <tr>
          <th
            v-for="header in headers"
            v-show="header.active"
            :key="header.value"
            scope="col"
            class="px-6 py-3 sticky top-0 bg-gray-200"
          >
            <div
              class="flex cursor-pointer"
              @click="$emit('openFilterMenu', header)"
            >
              <span>{{ header.text }}</span>
              <svg
                class="w-4 h-4 mx-2"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  d="M3 3a1 1 0 011-1h12a1 1 0 011 1v3a1 1 0 01-.293.707L12 11.414V15a1 1 0 01-.293.707l-2 2A1 1 0 018 17v-5.586L3.293 6.707A1 1 0 013 6V3z"
                  clip-rule="evenodd"
                ></path>
              </svg>
            </div>
          </th>
          <th scope="col" class="px-6 py-3 sticky top-0 bg-gray-200">
            <span class="sr-only">Documents</span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr
          v-for="deal in tableData"
          :key="deal.id"
          class="bg-white bg-gray-50"
        >
          <td
            v-for="header in headers"
            v-show="header.active"
            :key="header.value"
            class="px-2 py-4 border-b"
          >
            {{ deal[header.value] }}
          </td>
          <td class="px-6 py-4 border-b">
            <a
              @click="$emit('openDocumentsList', Number(deal.id))"
              class="font-medium text-blue-600 dark:text-blue-500 hover:underline cursor-pointer"
              >Documents</a
            >
          </td>
        </tr>
      </tbody>
    </table>
    <div
      v-if="tableData.length === 0"
      class="text-2xl border-2 border-gray-50 rounded-b-lg bg-gray-50 p-4 text-center"
    >
      Any data to display
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "nuxt-property-decorator";

@Component({})
export default class List extends Vue {
  @Prop()
  headers!: any[];

  @Prop()
  tableData!: any[];
}
</script>
