<template>
  <div
    class="overflow-y-auto overflow-x-hidden fixed w-full h-full top-0 left-0 flex items-center justify-center bg-gray-600 bg-opacity-50"
  >
    <div class="relative p-4 w-full max-w-2xl h-full md:h-auto">
      <div class="relative bg-white rounded-lg shadow dark:bg-gray-800">
        <!-- Modal header -->
        <div
          class="flex justify-between items-start p-4 rounded-t border-b dark:border-gray-600"
        >
          <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
            Documents: {{ documents.length }}
          </h3>
          <button
            type="button"
            @click="$emit('closeShowDocuments')"
            class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white"
          >
            <svg
              class="w-5 h-5"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                clip-rule="evenodd"
              ></path>
            </svg>
          </button>
        </div>
        <!-- Modal body -->
        <div class="p-4">
          <input
            type="search"
            id="search"
            v-model="search"
            class="block p-2 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            :placeholder="`Search`"
            required
          />
        </div>
        <div
          v-if="documents.length > 0"
          class="p-6 space-y-3 overflow-y-auto h-96"
        >
          <ul class="divide-y divide-gray-200 dark:divide-gray-700">
            <li
              class="py-3 sm:py-4"
              v-for="document in documents"
              :key="document.id"
            >
              <div class="flex items-center space-x-4">
                <div class="flex-1 min-w-0">
                  <p
                    class="text-sm font-medium text-gray-900 truncate dark:text-white"
                  >
                    {{ document.name }}
                  </p>
                  <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                    Path: {{ document.path }}
                  </p>
                  <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                    Posted:
                    {{ document.posted | day_format("MM/DD/YYYY [à] hh:mm a") }}
                  </p>
                  <p
                    v-show="document.last_accessed"
                    class="text-sm text-gray-500 truncate dark:text-gray-400"
                  >
                    Last access: {{ document.last_accessed }}
                  </p>
                </div>
                <div
                  class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white"
                >
                  {{ document.size | file_size_format }}
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div
          v-else
          class="text-2xl rounded-b-lg p-6 text-center font-semibold text-gray-900 dark:text-white"
        >
          Any document to display
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue, Watch } from "nuxt-property-decorator";

@Component({})
export default class ShowDocumentsModal extends Vue {
  @Prop()
  documents!: any[];

  search: string = "";

  @Watch("search")
  searchDocuments(): void {
    this.$emit("search", this.search);
  }
}
</script>
