<template>
  <div>
    <div class="bg-gray-100">
      <div
        class="container mx-auto flex items-center space-x-4 mb-2 md:mb-5 py-2 p-4 md:p-0 text-xl"
      >
        <NuxtLink to="/deals"> Deals </NuxtLink>
      </div>
    </div>

    <div>
      <div class="container p-4 md:p-0 mx-auto">
        <Nuxt />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

@Component({})
export default class DefaultLayout extends Vue {}
</script>
