<template>
  <div class="mb-6">
    <div class="text-2xl text-gray-600">
      <span>All Deals: {{ deals.length }}</span>
      <div class="grid grid-cols-12 gap-6 mt-5">
        <filter-card
          class="col-span-12 md:col-span-3 md:h-max"
          :headers="headers"
          :sorts="sorts"
          :sortBy="sortBy"
          :sortOrder="sortOrder"
          @search="search"
          @cleanFilter="cleanFilter"
        />
        <list
          class="col-span-12 md:col-span-9 max-h-screen"
          :headers="headers"
          :table-data="deals"
          @openDocumentsList="openDocumentsList"
          @openFilterMenu="openFilterMenu"
        />
      </div>
    </div>
    <filter-modal
      v-if="showFilterModal"
      :filterTypeSelected="filterTypeSelected"
      :filters="filterData"
      @search="searchFilterMenu"
      @saveFilter="saveFilter"
      @closeFilterModal="closeFilterModal"
    />
    <show-documents-modal
      v-if="showDocuments"
      :documents="documents"
      @search="searchDocuments"
      @closeShowDocuments="closeShowDocuments"
    />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

@Component({
  fetch(): void {
    this.$data.deals = this.$service.deal.getAll(
      "",
      [],
      this.$data.sortBy,
      this.$data.sortOrder
    );
  },
})
export default class DealsPage extends Vue {
  headers: any[] = [
    {
      text: "Deal",
      value: "dealName",
      object: "deals",
      active: true,
      hideFilter: true,
    },
    { text: "Issuer", value: "issuer", object: "issuers", active: true },
    { text: "Industry", value: "industry", object: "industries", active: true },
    { text: "Access", value: "access", object: "access", active: true },
    { text: "Agent", value: "agent", object: "agents", active: true },
    { text: "Source", value: "source", object: "sources", active: true },
    { text: "Type", value: "type", object: "types", active: true },
  ];

  sorts: any[] = [
    {
      text: "Asc",
      value: "asc",
    },
    {
      text: "Desc",
      value: "desc",
    },
  ];

  deals: any[] = [];

  documents: any[] = [];

  documentDealId: number = 0;

  showDocuments: boolean = false;

  showFilterModal: boolean = false;

  filterTypeSelected: any = {};

  filterData: any[] = [];

  searchText: string = "";

  savedFilter: any[] = [];

  sortBy: string = "dealName";

  sortOrder: string = "asc";

  search(data: any): void {
    this.sortBy = data.sortBy || this.sortBy;
    this.sortOrder = data.sortOrder || this.sortOrder;
    this.searchText = data.text || "";
    this.deals = this.$service.deal.getAll(
      this.searchText,
      this.savedFilter,
      this.sortBy,
      this.sortOrder
    );
  }

  openDocumentsList(dealId: number): void {
    this.documentDealId = dealId;
    this.documents = this.$service.document.getAllByDealIdAndSearch(dealId, "");
    this.showDocuments = true;
  }

  searchDocuments(search: any): void {
    this.documents = this.$service.document.getAllByDealIdAndSearch(
      this.documentDealId,
      search
    );
  }

  closeShowDocuments(): void {
    this.showDocuments = false;
  }

  openFilterMenu(filter: any): void {
    this.filterTypeSelected = filter;
    this.filterData = this.$service.deal.getFiltersOptions(
      filter.object,
      "",
      this.savedFilter[filter.object]
    );
    this.showFilterModal = true;
  }

  searchFilterMenu(data: any): void {
    this.filterData = this.$service.deal.getFiltersOptions(
      data.filter,
      data.text,
      data.filtersSaved && data.filtersSaved.length > 0
        ? data.filtersSaved
        : this.savedFilter[this.filterTypeSelected.object]
    );
  }

  saveFilter(data: any): void {
    this.savedFilter[data.filterTypeSelected] = data.filterSaved;
    this.deals = this.$service.deal.getAll(
      this.searchText,
      this.savedFilter,
      this.sortBy,
      this.sortOrder
    );
    this.showFilterModal = false;
  }

  closeFilterModal(): void {
    this.showFilterModal = false;
  }

  cleanFilter(): void {
    this.filterTypeSelected = {};
    this.filterData = [];
    this.searchText = "";
    this.savedFilter = [];
    this.headers.forEach((item: any) => (item.active = true));
    this.sortBy = "dealName";
    this.sortOrder = "asc";
    this.search({});
  }
}
</script>
